# Entorno y variables secretas
.env
*.env
config/config.yaml
src/bot/config.yaml
src/bot/base-config.yaml

# Archivos de registro y copias de seguridad
*.log
backups/

# Archivos compilados de Python y entornos virtuales
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/

# Configuración de editores / IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Synapse Data
src/matrix/synapse-data/*.db
src/matrix/synapse-data/*.db-shm
src/matrix/synapse-data/*.db-wal
src/matrix/synapse-data/*.key
src/matrix/synapse-data/*.pid
src/matrix/synapse-data/media_store/

# Archivos basura del bot
src/bot/trash/
src/bot/maubot.db*
src/bot/crypto.db*
*.mbp
docs/html/
docs/latex/
